<div class="s-footer__main">
    <div class="row">
        <div class="col-two md-four mob-full" style="margin-right: 30px;">
            <img src="/images/eyebrows_plain.png" alt="">
        </div>

        <div class="col-two md-four mob-full s-footer__sitelinks">

            <h4>Listen On:</h4>

            <ul class="s-footer__linklist">
                <li><a href="https://anchor.fm/always-low-prices">Anchor</a></li>
                <li><a href="https://open.spotify.com/show/2a7ba2a6s3g4KgWNtG4Lf8">Spotify</a></li>
                <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9jZmFhMGY4L3BvZGNhc3QvcnNz">Google Podcasts</a></li>
                <li><a href="https://pca.st/469Q">Pocket Casts</a></li>
                <li><a href="https://radiopublic.com/always-low-prices-WdAnnR">RadioPublic</a></li>
                <li><a href="https://anchor.fm/s/cfaa0f8/podcast/rss">RSS Feed</a></li>
            </ul>

        </div> <!-- end s-footer__sitelinks -->

        <div class="col-two md-four mob-full s-footer__social">

            <h4>Share On:</h4>

            <ul class="s-footer__linklist">
                <!--                        <li><a href="#0">Facebook</a></li>-->
                <li><a href="https://www.instagram.com/alwayslowpod/">Instagram</a></li>
                <li><a href="https://twitter.com/alwayslowpod">Twitter</a></li>
                <!--                        <li><a href="#0">Pinterest</a></li>-->
                <!--                        <li><a href="#0">Google+</a></li>-->
                <!--                        <li><a href="#0">LinkedIn</a></li>-->
            </ul>

        </div> <!-- end s-footer__social -->

    </div>
</div> <!-- end s-footer__main -->

<div class="s-footer__bottom">
    <div class="row">
        <div class="col-full">
            <div class="s-footer__copyright">
                <span>© Copyright Always Low Prices Podcast 2019</span>
                <span style="font-size: 8pt;">Site Template by <a href="https://colorlib.com/" style="color: darkgray">Colorlib</a></span>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </div>
    </div>
</div> <!-- end s-footer__bottom -->