<div class="header__content row">

    <div class="header__logo">
        <a class="logo" href="/">
            <img src="/images/eyebrows.png" alt="Homepage">
        </a>
    </div> <!-- end header__logo -->

    <ul class="header__social cms-template" data-cms-template="social">

    </ul> <!-- end header__social -->

    <!-- <a class="header__search-trigger" href="#0"></a>

    <div class="header__search">

        <form role="search" method="get" class="header__search-form" action="#">
            <label>
                <span class="hide-content">Search episodes:</span>
                <input type="search" style="color:white;" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search episodes:" autocomplete="off">
            </label>
            <input type="submit" class="search-submit" value="Search">
        </form>

        <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

    </div>   end header__search -->


    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

    <nav class="header__nav-wrap">

        <h2 class="header__nav-heading h6">Site Navigation</h2>

        <ul class="header__nav">
            <li class="d-current"><a href="/" title="">Home</a></li>
            <li class="has-children">
                <a href="#0" title="">Episodes</a>
                <ul class="sub-menu">
                    <li class="cms-iterate" data-cms-iterate="posts" data-cms-iterate-limit="6">
                        <a class="cms-item cms-attr-href" href="#" data-cms-attr-href="{/view.html?st=posts&sb=}.$iterate.@id" data-cms-item="$iterate.short"></a>
                    </li>
                    <li>
                        <a href="#">Episode Archive</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- end header__nav -->

        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

    </nav> <!-- end header__nav-wrap -->

</div> <!-- header-content -->