<li>
    <a href="https://twitter.com/alwayslowpod" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</li>
<li>
    <a href="https://www.instagram.com/alwayslowpod/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</li>
<li>
    <a href="https://open.spotify.com/show/2a7ba2a6s3g4KgWNtG4Lf8" target="_blank"><i class="fa fa-spotify"></i></a>
</li>
<li>
    <a href="https://anchor.fm/s/cfaa0f8/podcast/rss" target="_blank"><i class="fa fa-rss"></i></a>
</li>